.sidebar-list-item-box-content-info {
    border-radius: 6px;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.5rem;
}

.sidebar-list-item-box-content-info-innerbox {
    width: 100%;
    gap: 0.75rem;
    display: flex;
}

.sidebar-list-item-box-content-info-innerbox-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.sidebar-list-item-box-content-info-innerbox-icon img{
    height: 100%;
    width: 100%;
}

.sidebar-list-item-box-content-info-innerbox-text {
    color: #101828;
}