.Profile-section-input {
    margin-top: 3rem;
    height: 10.8rem;
    gap: 1.5rem;
}

.Profile-section-input-box {
    gap: 1rem;
}

.Profile-section-div-heading {
    height: 2.3125rem;
    padding-left: 0.3125rem;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.Profile-section-div-heading-text {
    height: 2.3125rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #1D2939;
}

.update-details {
    gap: 1.5rem;
    height: 7.5rem;
}

.update-details-container {
    gap: 1rem;
}

.divider-line{
    height: 0.5px;
    background: #EAECF0;
}