.DocSidebar {
    /* width: 22.625rem; */
    display: flex;
    /* border-right: 1px solid #EAECF0; */
    border-right: 1px solid #EAECF0;
}

.sidebar-body__wrapper {
    padding-top: 1.2rem;
}

.Navbar-list-item {
    width: 17.625rem;
}

.navbar-list-item-box {
    height: 30.375rem;
    width: 17.625rem;
    padding: 0rem 1rem;
    gap: 1rem;
}

.navbar-list-item-box-heading {
    width: 7.5rem;
    height: 5.875rem;
    padding: 1.375rem 0.75rem;
    gap: 0.5rem;
}

.navbar-list-item-box-heading h1 {
    width: 6rem;
    height: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #101828;
}

.navbar-list-item-box-content {
    width: 15.625rem;
    height: 23.5rem;
    gap: 0.5rem;
}