.update-container {
    height: 3.25rem;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.3125rem;
    margin-bottom: 0.5rem;
}

.update-container-text {
    height: 2.75rem;
    gap: 0.25rem;
}

.update-container-text-heading {
    color: #344054;
    margin-bottom: 0.25rem;
}

.update-container-text-subheading {
    color: #667085;
}

#btn-change {
    /* width: 8rem; */
    height: 2.5rem;
    border-radius: 0.25rem;
    padding: 0.625rem 1rem;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px 0px #1018280D;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
        linear-gradient(0deg, #D0D5DD, #D0D5DD);
}

.dark{
    font-weight: 600;
}