.change-email-lable{
    margin-top: 12px;
    color:  #475467;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.change-email-input{
    box-shadow: 0px 1px 2px 0px #1018280D;
    border: 1px solid #D0D5DD;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #D0D5DD, #D0D5DD);
    border-radius: 4px;
    gap: 8px;
    margin-top: 12px;
}